.Prompt {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0 auto;
  margin-top: 20%;
}

.Prompt h3 {
  display: none;
}

.Prompt h4 {
  width: 7%;
  height: 40px;
  margin: 0 2px;
  position: relative;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  font-weight: bold;
}

.Prompt h4::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 4px;
  background: #7ba8fc;
  bottom: -13px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
}

.won {
  color: #45de7a;
}
